<app-page-container>
    <app-header>Your Decks</app-header>

    <button mat-button (click)="openDeckFormDialog()" aria-label="">
        <mat-icon>add</mat-icon>
        <span>Add Deck</span>
    </button>

    <mat-divider class="my-4"></mat-divider>

    @if (decks$ | async; as decks) {
        <app-decks-table 
            [decks]="decks"
            (handleEditDeck)="openDeckFormDialog($event)"
            (handleDeleteDeck)="openDeleteDeckDialog($event)">
        </app-decks-table>
    }
</app-page-container>