<div class="flex flex-col bg-secondary-container border border-solid border-primary rounded p-4">
    <h4 class="text-lg font-medium text-on-secondary-container mb-2">
        <span>{{ playInstance.endPosition }}</span>
        <span>&nbsp;-&nbsp;</span>
        <a class="hover:underline" [routerLink]="['/', 'pilots', playInstance.pilot.id]">{{ playInstance.pilot.name }}</a>
    </h4>

    <div class="flex flex-col">
        <a 
            class="hover:underline"
            [routerLink]="['/', 'play-groups', playInstance.playGroup.id, 'decks', playInstance.deck.id]"
        >
            {{ playInstance.deck.name }}
        </a>
        <app-color-identity-display [isReadOnly]="true" [colorIdentityString]="playInstance.deck.colorIdentity | toColorIdentityString"></app-color-identity-display>
    </div>
</div>
