<nav>
    <span class="text-primary mr-8">
        <a class="font-medium hover:underline" [routerLink]="['games']" routerLinkActive="underline" [routerLinkActiveOptions]="{ exact: false }">Games</a>
    </span>

    <span class="text-primary mr-8">
        <a class="font-medium hover:underline" [routerLink]="['decks']" routerLinkActive="underline" [routerLinkActiveOptions]="{ exact: false }">Decks</a>
    </span>

    <span class="text-primary mr-8">
        <a class="font-medium hover:underline" [routerLink]="['pilots']" routerLinkActive="underline" [routerLinkActiveOptions]="{ exact: false }">Pilots</a>
    </span>
</nav>