<table mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
        <td mat-cell *matCellDef="let pilot">
            <a class="text-primary font-medium hover:underline" [routerLink]="['/pilots', pilot.id]">{{ pilot.name }}</a>
        </td>
    </ng-container>

    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let pilot">
            @if (playGroup | isCreatedBy : userId) {
                <button mat-icon-button class="text-primary float-end" [matMenuTriggerFor]="menu" aria-label="">
                    <mat-icon>more_vert</mat-icon>
                </button>
                
                <mat-menu #menu xPosition="before">
                    <button mat-menu-item (click)="editPilot(pilot)" aria-label="">
                        <mat-icon>edit</mat-icon>
                        <span>Edit Player</span>
                    </button>
                    <button
                        mat-menu-item
                        (click)="deletePilot(pilot.id)"
                        aria-label=""
                    >
                        <mat-icon class="text-error">delete</mat-icon>
                        <span class="text-error">Remove Player from Play Group</span>
                    </button>
                </mat-menu>
            }
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
        class="hover:bg-surface-variant"
        mat-row
        *matRowDef="let pilot columns: displayedColumns"
    ></tr>
</table>

