<app-dialog-header>{{ title }}</app-dialog-header>
<mat-dialog-content>
    <form [formGroup]="form">
        <p>
            <mat-form-field>
                <mat-label>Player Name</mat-label>
                <input
                    matInput
                    type="text"
                    formControlName="name"
                    cdkFocusInitial
                />
            </mat-form-field>
        </p>
    </form>
</mat-dialog-content>
<app-dialog-footer>
    <app-dialog-cancel-button></app-dialog-cancel-button>
    <button
        mat-button
        [disabled]="!form.valid || form.pristine"
        (click)="submit()"
    >
        Submit
    </button>
</app-dialog-footer>
