<form [formGroup]="form">
    <mat-divider class="mb-4"></mat-divider>
    <div class="mb-4">
        <button
        mat-button
        (click)="remove()"
        aria-label=""
        >
            <span class="text-tertiary">Player {{ index + 1 }}</span>
            <mat-icon class="text-error">remove</mat-icon>
        </button>
    </div>

    <div class="flex space-x-4">
        <mat-form-field>
            <mat-label>Deck</mat-label>
            <mat-select formControlName="playGroupDeck">
                @for (pgd of playGroupDecks; track pgd.id) {
                    <mat-option [value]="pgd">{{
                        pgd.deck.name
                    }}</mat-option>
                }
            </mat-select>
            @if (
                form.controls.playGroupDeck.errors?.[
                    "required"
                ]
            ) {
                <mat-error></mat-error>
            }
        </mat-form-field>
        <mat-form-field>
            <mat-label>Pilot</mat-label>
            <mat-select formControlName="pilotId">
                @for (pilot of pilots; track pilot.id) {
                    <mat-option [value]="pilot.id">{{
                        pilot.name
                    }}</mat-option>
                }
            </mat-select>
        </mat-form-field>
    </div>

    <div class="flex space-x-4">
        <mat-form-field>
            <mat-label>Turn Order</mat-label>
            <input
                matInput
                type="number"
                min="1"
                formControlName="turnOrder"
            />
        </mat-form-field>
        <mat-form-field>
            <mat-label>End Position</mat-label>
            <input
                matInput
                type="number"
                min="1"
                formControlName="endPosition"
            />
        </mat-form-field>
    </div>

    <div>
        <mat-form-field>
            <mat-label>Notes</mat-label>
            <textarea
                matInput
                cdkTextareaAutosize
                formControlName="notes"
            ></textarea>
        </mat-form-field>
    </div>
</form>