<form [formGroup]="form">
    <mat-divider class="mb-4"></mat-divider>
    <div class="mb-4">
        <button
        mat-button
        (click)="remove()"
        aria-label=""
        >
            <span class="text-tertiary">Player {{ index + 1 }}</span>
            <mat-icon class="text-error">remove</mat-icon>
        </button>
    </div>

    <div class="flex space-x-4 mb-2">
        <mat-form-field>
            <mat-label>Deck</mat-label>
            <mat-select formControlName="playGroupDeck">
                @for (pgd of playGroupDecks; track pgd.id) {
                    <mat-option [value]="pgd">{{
                        pgd.deck.name
                    }}</mat-option>
                }
            </mat-select>
            @if (playGroupDeck.errors?.['required']) {
                <mat-error>{{ 'required' | formError }}</mat-error>
            }
        </mat-form-field>
        <mat-form-field>
            <mat-label>Pilot</mat-label>
            <mat-select formControlName="pilotId">
                @for (pilot of pilots; track pilot.id) {
                    <mat-option [value]="pilot.id">{{
                        pilot.name
                    }}</mat-option>
                }
            </mat-select>
            @if (pilotId.errors?.['required']) {
                <mat-error>{{ 'required' | formError }}</mat-error>
            }
        </mat-form-field>
    </div>

    <div class="flex space-x-4 mb-2">
        <mat-form-field>
            <mat-label>Turn Order</mat-label>
            <input
                matInput
                type="number"
                min="1"
                formControlName="turnOrder"
            />
            @if (turnOrder.errors?.['required']) {
                <mat-error>{{ 'required' | formError }}</mat-error>
            }
            @else if (turnOrder.errors?.['min']) {
                <mat-error>{{ 'min' | formError : turnOrder }}</mat-error>
            }
            @else if (turnOrder.errors?.['max']) {
                <mat-error>{{ 'max' | formError : turnOrder }}</mat-error>
            }
        </mat-form-field>
        <mat-form-field>
            <mat-label>End Position</mat-label>
            <input
                matInput
                type="number"
                min="1"
                formControlName="endPosition"
            />
            @if (endPosition.errors?.['required']) {
                <mat-error>{{ 'required' | formError }}</mat-error>
            }
            @else if (endPosition.errors?.['min']) {
                <mat-error>{{ 'min' | formError : endPosition }}</mat-error>
            }
            @else if (endPosition.errors?.['max']) {
                <mat-error>{{ 'max' | formError : endPosition }}</mat-error>
            }
        </mat-form-field>
    </div>

    <div class="mb-2">
        <mat-form-field>
            <mat-label>Notes</mat-label>
            <textarea
                matInput
                cdkTextareaAutosize
                formControlName="notes"
            ></textarea>
        </mat-form-field>
    </div>
</form>