<h2 mat-dialog-title>{{ title }}</h2>
<mat-dialog-content class="rounded-none">
    <form [formGroup]="form">
        <div>
            <mat-form-field>
                <mat-label>Deck Name</mat-label>
                <input
                    matInput
                    type="text"
                    formControlName="name"
                    cdkFocusInitial
                />
            </mat-form-field>
        </div>

        <div>
            <label>Colors</label>
            <br>
            <app-color-identity-selector formControlName="colorIdentity"></app-color-identity-selector>
        </div>
    </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button [mat-dialog-close]="false">Cancel</button>
    <button
        mat-button
        [disabled]="!form.valid || form.pristine"
        (click)="submit()"
    >
        Submit
    </button>
</mat-dialog-actions>
