<app-dialog-header>{{ title }}</app-dialog-header>
<mat-dialog-content>
    <form [formGroup]="form">
        <div>
            <mat-form-field>
                <mat-label>Deck Name</mat-label>
                <input
                    matInput
                    type="text"
                    formControlName="name"
                    cdkFocusInitial
                />
            </mat-form-field>
        </div>

        <div class="mb-8 flex flex-col">
            <label class="mb-2">Colors</label>
            <app-color-identity-selector formControlName="colorIdentity"></app-color-identity-selector>
        </div>
    </form>
</mat-dialog-content>
<app-dialog-footer>
    <app-dialog-cancel-button></app-dialog-cancel-button>
    <button
        mat-button
        [disabled]="!form.valid || form.pristine"
        (click)="submit()"
    >
        Submit
    </button>
</app-dialog-footer>
