<h4>
    Pilots
    <button mat-icon-button (click)="openPilotFormDialog()" aria-label="">
        <mat-icon>add</mat-icon>
    </button>
</h4>
@if (pilots$ | async; as pilots) {
    <table mat-table [dataSource]="pilots">
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Name</th>
            <td mat-cell *matCellDef="let pilot">{{ pilot.name }}</td>
        </ng-container>

        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let pilot" appStopPropagation>
                <button mat-button (click)="openPilotFormDialog(pilot)">
                    Edit
                </button>
                <button
                    mat-button
                    (click)="openDeletePilotDialog(pilot.id)"
                >
                    Delete
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr
            mat-row
            *matRowDef="let pilot; columns: displayedColumns"
            [routerLink]="[pilot.id]"
        ></tr>
    </table>
}
