<app-dialog-header>Add Game</app-dialog-header>
<mat-dialog-content>
    <form [formGroup]="form">
        <div class="mb-2">
            <mat-form-field>
                <mat-label>Number of Turns</mat-label>
                <input
                    matInput
                    type="number"
                    min="0"
                    formControlName="turns"
                    cdkFocusInitial
                />
                @if (
                form.controls.turns.errors?.[
                    "required"
                ]
            ) {
                <mat-error>This field is required</mat-error>
            }
            </mat-form-field>
        </div>

        <div class="mb-2">
            <mat-form-field>
                <mat-label>Notes</mat-label>
                <textarea
                    matInput
                    cdkTextareaAutosize
                    formControlName="notes"
                ></textarea>
            </mat-form-field>
        </div>

        <div>
            @for (
                playInstanceForm of playInstances.controls;
                track $index;
                let i = $index
            ) {
                @if (playGroupDecks$ | async; as playGroupDecks) {
                    @if (pilots$ | async; as pilots) {
                        <app-game-form-play-instance
                            [form]="playInstanceForm"
                            [index]="i"
                            [playGroupDecks]="playGroupDecks"
                            [pilots]="pilots"
                            (removed)="removePlayInstance(i)"
                            (pilotAdded)="pilotCreated()"
                        ></app-game-form-play-instance>
                        <br />
                    }
                }
            }
        </div>
    </form>
</mat-dialog-content>
<app-dialog-footer>
    <button 
        mat-button class="float-start mr-auto"
        (click)="addPlayInstance()"
        [disabled]="playInstances.length >= maxPlayers"
        aria-label=""
    >
        <span>Add Player</span>
        <mat-icon>add</mat-icon>
    </button>
    <app-dialog-cancel-button></app-dialog-cancel-button>
    <button
        mat-button
        [disabled]="!form.valid || form.pristine"
        (click)="submit()"
    >
        Submit
    </button>
</app-dialog-footer>
