<app-dialog-header>Add Game</app-dialog-header>
<mat-dialog-content>
    <form [formGroup]="form">
        <div>
            <mat-form-field>
                <mat-label>Number of Turns</mat-label>
                <input
                    matInput
                    type="number"
                    min="0"
                    formControlName="turns"
                    cdkFocusInitial
                />
            </mat-form-field>
        </div>

        <div>
            <mat-form-field>
                <mat-label>Notes</mat-label>
                <textarea
                    matInput
                    cdkTextareaAutosize
                    formControlName="notes"
                ></textarea>
            </mat-form-field>
        </div>

        <div>
            <!-- <div class="mb-4">
                <button mat-button (click)="addPlayInstance()" aria-label="">
                    <span class="text-secondary">Add Player</span>
                    <mat-icon class="text-secondary">add</mat-icon>
                </button>
            </div> -->
            

            @for (
                playInstanceForm of playInstances.controls;
                track $index;
                let i = $index
            ) {
                @if (decks$ | async; as decks) {
                    @if (pilots$ | async; as pilots) {
                        <app-game-form-play-instance
                            [form]="playInstanceForm"
                            [index]="i"
                            [decks]="decks"
                            [pilots]="pilots"
                            (removed)="removePlayInstance(i)"
                            (pilotAdded)="pilotCreated()"
                        ></app-game-form-play-instance>
                        <br />
                    }
                }
            }
        </div>
    </form>
</mat-dialog-content>
<app-dialog-footer>
    <button mat-button class="float-start mr-auto" (click)="addPlayInstance()" aria-label="">
        <span class="text-secondary">Add Player</span>
        <mat-icon class="text-secondary">add</mat-icon>
    </button>
    <app-dialog-cancel-button></app-dialog-cancel-button>
    <button
        mat-button
        
        [disabled]="!form.valid || form.pristine"
        (click)="submit()"
    >
        Submit
    </button>
</app-dialog-footer>
