<div class="flex flex-col bg-surface-variant rounded p-4">
    <div class="flex flex-col lg:flex-row lg:space-x-4">
        @for (playInstance of (game.playInstances | sortPlayInstances); track playInstance.id) {
            <div class="flex-grow flex-1 mb-4">
                <app-play-instance-summary
                [playInstance]="playInstance"
                ></app-play-instance-summary>
            </div>
        }
    </div>
    <a class="hover:underline" [routerLink]="['/games', game.id]">{{ game.createdDate | date }}</a>
</div>