<mat-card>
    <mat-card-header>
        <a [routerLink]="['/games', game.id]">{{ game.createdDate | date }}</a>
    </mat-card-header>
    <mat-card-content>
        <div class="play-instance-container">
            @for (playInstance of game.playInstances; track playInstance.id) {
                <app-game-play-instance-card
                    [playInstance]="playInstance"
                ></app-game-play-instance-card>
            }
        </div>
    </mat-card-content>
    <mat-card-footer>
        <button mat-button (click)="delete()">
            Delete
        </button>
    </mat-card-footer>
</mat-card>