@use "@angular/material" as mat;

@include mat.core();

$theme: mat.define-theme(
    (
        color: (
            theme-type: light,
            primary: mat.$spring-green-palette,
            use-system-variables: true
        ),
        density: (
            scale: -1
        )
    )
);

html {
    @include mat.all-component-themes($theme);
}
