<app-page-container>
    <app-page-header>
        Your Play Groups
    </app-page-header>

    <button mat-button (click)="openPlayGroupFormDialog()" aria-label="">
        <mat-icon>add</mat-icon>
        <span>Create Play Group</span>
    </button>

    <mat-divider class="my-4"></mat-divider>
    
    @if (playGroups$ | async; as playGroups) {
        <app-play-groups-table
            [playGroups]="playGroups"
            (handleEditPlayGroup)="openPlayGroupFormDialog($event)"
            (handleDeletePlayGroup)="openDeletePlayGroupDialog($event)"
        >
        </app-play-groups-table>
    } @else {
        <div class="my-16 flex justify-center items-center">
            <mat-spinner></mat-spinner>
        </div>
    }
</app-page-container>
